<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Etec Alerta - 2ºDS quebra tudo na SPF</title>
  <link rel="shortcut icon" href="/img/eteclogosemtexto.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Medula+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/mainStyle.css">
  <link rel="stylesheet" href="css/notíciaStyle.css">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="css/bootstrapCss/main.css">
  <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!--Header-->
    <nav class="navbar navbar-dark bg-dark">

        <div class="container-fluid">
          <img class="logo" src="/img/eteclogoBRANCO.png" alt="">
    
          <a class="navbar-brand" href="/"><h1>ETEC ALERTA<span class="exclamacao">!</span></h1></a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">ETEC Alerta<span class="exclamacaoCor">!</span></h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Notícias
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
                <button class="btn btn-success" type="submit">Procurar</button>
              </form>
            </div>
          </div>
        </div>
    
      </nav>

      <main>
        <br>
        <br>
        <h1 class="titulo-noticia">2ºDS DESTRÓI TUDO NA SEMANA PAULO FREIRE!</h1>
        <h5 class="legenda">literalmente</h5>
        <br>
        <div class="info">
          <p>Por ETEC ALERTA<span class="exclamacaoCor">!</span> — São Paulo
            <br>
            09/05/2024 10:22 - Atualizado há 2 dias</p>
        </div>

        <img class="foto-principal" src="/img/imgSpf01.jpeg" alt="Anúncio Renata">
        <h5 class="legenda">Cenário destruído após a perfomance dos dançarinos: Larissa Cardozo, Carlos Faustino, Lucas Freire e Gustavo Henrique — Foto: Jessé Fernandes/2ºDS</h5>
        <div class="info">

        </div>
        <div class="paragrafo">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, ex quasi explicabo labore aut voluptatum, eum aperiam temporibus cumque laborum neque veritatis necessitatibus blanditiis minus ad eius? Ipsa dolores, dignissimos alias error obcaecati quod perferendis totam neque, vitae optio aspernatur magni. Assumenda dolor ab vero tempora, ratione deleniti aut distinctio?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, est blanditiis deleniti consequuntur laudantium magni necessitatibus unde odio, iure incidunt quod minus dignissimos asperiores obcaecati nemo vel? Illum earum id aut quia ducimus temporibus magnam quasi, eligendi eveniet voluptates molestias voluptas! Ad fugiat, veritatis ex architecto iusto 
            
            unde! Ea ad eos amet quod repellendus fugit placeat animi necessitatibus. Esse, perspiciatis illum delectus eligendi cumque iure repellat modi, aspernatur maxime corporis impedit veniam mollitia reiciendis nam reprehenderit ab natus iusto atque voluptate dolorum obcaecati. Accusamus itaque laborum saepe voluptatem qui eveniet, ipsum tempora maxime, velit vel magni ipsam voluptate. Veniam, deserunt, quo iure, molestias nisi ipsam voluptates adipisci sequi modi dolorem aliquid 

            consequatur iusto alias! Quibusdam hic incidunt cumque nobis id et culpa vero nihil fugit quo nesciunt commodi obcaecati possimus ipsa atque, optio tenetur error saepe debitis cupiditate illo, itaque voluptates eos porro. Tempora quod maiores velit sequi id odit pariatur! Alias quis beatae, quod vero tempora rerum enim eaque nesciunt animi molestias voluptatibus, corrupti esse aut nihil. Iusto veritatis consequatur doloremque molestiae alias a tenetur, rerum maxime at, modi facere delectus odit est velit id?
          </p>
        </div>

        <div class="fotos-secundarias">
          <img src="/img/imgSpf02.jpeg" alt="">
          <img src="/img/imgSpf03.jpeg" alt="">
        </div>
        <h5 class="legenda">Cenas da incrível apresentação — Foto: Jessé Fernandes/2ºDS</h5>

        <div class="paragrafo">
        <p>eius, maxime laborum consectetur earum at repudiandae voluptatum similique rem dolorem necessitatibus dicta vitae aut hic voluptate doloremque, assumenda itaque ipsam quia! Facere rerum recusandae quo possimus. Nemo odit fugit nam similique error corrupti dicta asperiores beatae, omnis quos dignissimos dolore a saepe? Provident, totam. Sunt, molestiae velit, asperiores eligendi error aliquid natus dolores blanditiis adipisci placeat maxime consequuntur quod sed quae ab aut deleniti ipsam quas dicta. Expedita, enim amet. Explicabo facilis accusantium sunt quasi harum ad assumenda laudantium repudiandae repellendus rem hic eligendi laboriosam nemo a, nulla, natus officiis quae culpa vero. Omnis deserunt perspiciatis ea quam eaque. Deleniti dignissimos suscipit quis distinctio, quae aliquam blanditiis laborum earum voluptatibus a. Harum.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cumque magnam reiciendis nulla minima similique, doloremque quod est ratione totam eius illum provident blanditiis aliquid repellendus, veniam placeat, dolore eligendi perferendis error. Quidem culpa impedit nihil maiores, fugiat dolorem quasi eum eos consequuntur id sunt architecto enim illo aliquid quis. Excepturi saepe eos mollitia facilis consequatur. Commodi voluptatibus necessitatibus aperiam omnis </p>
        </div>

      </main>

      <div class="container-escritor">
        <div class="escritor-img">
          <img src="/img/d1.png" alt="" style="width: 50px; height: 50px; border-radius: 50%;">
         
        </div>
        <div class="escritor-info">
          <h4>Escrito por: <a href="https://github.com/DavidASN" target="_blank">David Alexandre</a></h4>
          <p>
            Estudante do 2º ano de Desenvolvimento de Sistemas da ETEC-CT.
          </p>
        </div>
      </div>

       <!-- FOOTER -->
    <footer>

      <div class="container text-center" id="contato">
        
        <div class="row Glinha01">
          <div class="footer-titulo col">
            <h2>ETEC ALERTA<span class="exclamacaoCor">!</span></h2>
          </div>

          <div class="footer-contato col">
            <i class='bx bxl-facebook-circle' ></i>
            <i class='bx bxl-google' ></i>
            <i class='bx bxl-github' ></i>
            <i class='bx bxl-instagram-alt' ></i>
            <i class='bx bxl-twitter' ></i>
          </div>
        </div>

        <span class="row-division"></span>

        <div class="row Glinha02">
          <div class="footer-nav col">
            <h2>Navegação</h2>
            <a href="#">Home</a>
            <a href="#">Sobre</a>
            <a href="#">Notícias</a>
          </div>

          <div class="footer-nav col">
            <h2>Suporte</h2>
            <a class="link-faq" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              FAQ
            </a>
            <!-- Modal FAQ -->
            <div class="modal fade" id="staticBackdrop" data-bs-theme="dark" data-bs-backdrop="static"
              data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">FAQ</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h6>1. Qual o próposito do site?</h6>
                    <p>Um jornal para estudantes! Coisas que nos interessem e também coisas que acontecem na ETEC CT.</p>
                    <h6>2. Qual a veracidade das notícias?</h6>
                    <p>100% sem fake news!</p>
                    <h6>3. Porque o site se chama "ETEC Alerta!"?</h6>
                    <p>... Preciso responder?</p>
                    <h6>4. Melhor curso?</h6>
                    <p>DS</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                  </div>
                </div>
              </div>
            </div>
            <a href="#">Contato</a>
            <a href="#">Copyright</a>
          </div>

          <div class="footer-nav col">
            <h2>Fale com nossa assessoria de imprensa:</h2>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Digite sua mensagem ..."
                rows="3"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Enviar">
          </div>
        </div>

      </div>

    </footer>

</body>